body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.clickeable-row {
    cursor: pointer;
}

.clickeable-row:hover{
    background-color: #00b3ee;
}

.selected-row {
    background-color: #00b3ee;
}

.tarifa-baja {
    color: tomato;
}

.error-tarifa {
    background-color: rgba(255, 100, 73, 0.64);
}

.navbar {
    margin-bottom: 20px;
}

.animated-row.ng-enter {
    -webkit-animation: slideInUp 3s ;
    animation: slideInUp 3s ;
}

.animated-row.ng-enter-stagger {
    /* 200ms will be applied between each sucessive enter operation */
    -webkit-animation-delay:0.1s;
    animation-delay:0.1s;

    /* this is here to avoid accidental CSS inheritance */
    -webkit-animation-duration:0;
    animation-duration:0;
}

input[type=checkbox] {
    margin-left: 40%;
    transform: scale(1.5);
}