.clickeable-row {
    cursor: pointer;
}

.clickeable-row:hover{
    background-color: #00b3ee;
}

.selected-row {
    background-color: #00b3ee;
}

.tarifa-baja {
    color: tomato;
}

.error-tarifa {
    background-color: rgba(255, 100, 73, 0.64);
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}